/* Global Styles */

html,
body {
    height: 100%;
    padding-top: 25px;
    font-family: 'Roboto', sans-serif;
}


.navbar-default .navbar-brand {
    color: #000;
    font-weight: 900;
    letter-spacing: 1px;
}

.img-portfolio {
    margin-bottom: 30px;
}

.img-hover:hover {
    opacity: 0.8;
}

.navbar-default {
    background-color: #fff;
    border-color: #fff;
}

.navbar-default .navbar-brand {
    color: #000;
    font-weight: 900;
}

.navbar-default .navbar-nav>li>a {
    color: #000;
    text-transform: uppercase;
}

.well-lg {
    padding: 24px;
    border-radius: 0px;
}

/* Home Page Carousel */

header.carousel {
    height: 50%;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.carousel-control.right {
    right: 0;
    left: auto;
    background-image: none;
    background-image: none;
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);*/
    background-repeat: no-repeat;
}

.carousel-control.left {
    left: 0;
    left: auto;
    background-image: none;
    background-image: none;
    background-repeat: no-repeat;
}

/* panel */

.panel-default {
    border-color:#CCCCCC;
    color: #333;
    border-radius: 0px;
}

.panel-default>.panel-heading {
    color: #000;
    background-color: #FFF;
    border-color: #FFF;
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
}
/* 404 Page Styles */

.error-404 {
    font-size: 100px;
}

/* Pricing Page Styles */

.price {
    display: block;
    font-size: 50px;
    line-height: 50px;
}

.price sup {
    top: -20px;
    left: 2px;
    font-size: 20px;
}

.period {
    display: block;
    font-style: italic;
}

/* Footer Styles */

footer {
    margin: 50px 0;
}

/* Responsive Styles */

@media(max-width:991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
}

@media(max-width:767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }

    header.carousel .carousel {
        height: 70%;
    }
}

.breadcrumb {
    padding: 0px 0px;
    margin-bottom: 20px;
    list-style: none;
    background-color: rgba(0,0,0,.0001);
    border-radius: 0px;
}

/* Need cleanup to this css */


p {
  font-weight: 300;
  font-size: 16px;
}
p a {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
}

a {
  color: #333333;
}
a:hover,
a:focus {
  color: #0085A1;
}
a img:hover,
a img:focus {
  cursor: zoom-in;
}
blockquote {
  color: #777777;
  font-style: italic;
}


.navbar-custom .navbar-brand {
  font-weight: 800;
}


.floating-label-form-group {
  font-size: 14px;
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #eeeeee;
}
.floating-label-form-group input,
.floating-label-form-group textarea {
  z-index: 1;
  position: relative;
  padding-right: 0;
  padding-left: 0;
  border: none;
  border-radius: 0;
  font-size: 1em;
  background: none;
  box-shadow: none !important;
  resize: none;
}
.floating-label-form-group label {
  display: block;
  z-index: 0;
  position: relative;
  top: 2em;
  margin: 0;
  font-size: 0.85em;
  line-height: 1.764705882em;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
  -webkit-transition: top 0.3s ease,opacity 0.3s ease;
  -moz-transition: top 0.3s ease,opacity 0.3s ease;
  -ms-transition: top 0.3s ease,opacity 0.3s ease;
  transition: top 0.3s ease,opacity 0.3s ease;
}
.floating-label-form-group::not(:first-child) {
  padding-left: 14px;
  border-left: 1px solid #eeeeee;
}
.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}
.floating-label-form-group-with-focus label {
  color: #0085A1;
}
form .row:first-child .floating-label-form-group {
  border-top: 1px solid #eeeeee;
}
.btn {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  border-radius: 0;
  padding: 9px 15px;
}
.btn-lg {
  font-size: 16px;
  padding: 9px 15px;
}
.btn-default:hover,
.btn-default:focus {
  background-color: #007CE1;
  border: 1px solid #007CE1;
  color: white;
}
.pager {
  margin: 20px 0 0;
}
.pager li > a,
.pager li > span {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  padding: 9px 15px;
  background-color: white;
  border-radius: 0;
}
.pager li > a:hover,
.pager li > a:focus {
  color: white;
  background-color: #007CE1;
  border: 1px solid #007CE1;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  color: #777777;
  background-color: #333333;
  cursor: not-allowed;
}
::-moz-selection {
  color: white;
  text-shadow: none;
  background: #0085A1;
}
::selection {
  color: white;
  text-shadow: none;
  background: #0085A1;
}
